{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd450f19236c57a8dd6a0fe1f1c195fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/refresh-access-token"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 362,
            "text": "{\"success\":true,\"systemToken\":\"[REDACTED]\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"16a-d1A4MaAI+kKLU7GOkJCAJwq7uy0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "1270a2c987178b6f1df88981286532c6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "skip",
              "value": "0limit=100"
            },
            {
              "name": "requireTotalCount",
              "value": "true"
            }
          ],
          "url": "https://sandbox.bigid.tools/api/v1/access-management/users?skip=0limit%3D100&requireTotalCount=true"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 2246,
            "text": "{\"status\":\"success\",\"statusCode\":200,\"data\":{\"users\":[{\"_id\":\"5d93e8605bc88e001af828c2\",\"created_at\":\"2019-10-01T23:59:28.596Z\",\"updated_at\":\"2023-05-16T16:54:25.981Z\",\"name\":\"bigid\",\"firstName\":\"BigID Admin\",\"password\":\"\",\"admin\":true,\"__v\":0,\"roleIds\":[\"5d93e8605bc88e001af828c3\",\"5f8d949d6c2f4e0013db258f\"],\"last_successful_login_at\":\"2023-05-16T16:54:25.598Z\",\"token\":\"\",\"isPasswordChangeNeeded\":false,\"lastName\":\"\",\"origin\":\"local\",\"refreshTokens\":[{\"tokenName\":\"e18524df-f90b-410f-9bef-4436d5f0b40d\",\"creationDate\":\"2023-05-16T16:54:25.846Z\",\"expirationDate\":\"2023-05-17T16:54:25.846Z\",\"value\":\"\"}],\"id\":\"bigid\"},{\"_id\":\"5eadb8b749c26e64bdc55857\",\"updated_at\":\"2020-05-02T18:15:19.535Z\",\"created_at\":\"2020-05-02T18:15:19.535Z\",\"name\":\"bigid-scanner\",\"firstName\":\"BigID\",\"lastName\":\"Scanner\",\"origin\":\"local\",\"roleIds\":[\"5eadb8b744c4730013926fec\"],\"token\":\"\",\"password\":\"\",\"id\":\"bigid-scanner\"},{\"_id\":\"5d94a53bd24330957632b9c2\",\"updated_at\":\"2020-10-19T13:26:33.975Z\",\"created_at\":\"2019-10-02T13:25:15.303Z\",\"name\":\"david.vincent@rockstream.com\",\"firstName\":\"David\",\"lastName\":\"Vincent\",\"origin\":\"local\",\"password\":\"\",\"roleIds\":[\"5d93e8605bc88e001af828c5\"],\"last_successful_login_at\":\"2020-03-17T22:38:18.073Z\",\"token\":\"\",\"email\":null,\"id\":\"david.vincent@rockstream.com\"},{\"_id\":\"5d94a512d24330957632b955\",\"updated_at\":\"2020-10-19T13:27:45.337Z\",\"created_at\":\"2019-10-02T13:24:34.502Z\",\"name\":\"ellen.becker@rockstream.com\",\"firstName\":\"Ellen\",\"lastName\":\"Becker\",\"origin\":\"local\",\"password\":\"\",\"roleIds\":[\"5d93e8605bc88e001af828c5\"],\"last_successful_login_at\":\"2019-12-28T23:56:55.091Z\",\"token\":\"\",\"email\":null,\"id\":\"ellen.becker@rockstream.com\"},{\"_id\":\"5e890909bad2a83c81ae136b\",\"updated_at\":\"2023-02-26T19:00:32.219Z\",\"created_at\":\"2020-04-04T22:24:09.081Z\",\"name\":\"learner\",\"firstName\":\"BigID Learner\",\"lastName\":\"\",\"origin\":\"local\",\"password\":\"\",\"roleIds\":[\"5f8d949d6c2f4e0013db258f\",\"5d93e8605bc88e001af828c6\"],\"email\":\"\",\"last_successful_login_at\":\"2023-02-26T19:00:32.219Z\",\"token\":\"\",\"refreshTokens\":[{\"tokenName\":\"aa949e3e-04b8-49b1-aa14-3811ca7397c3\",\"creationDate\":\"2021-11-02T15:07:18.643Z\",\"expirationDate\":\"2024-07-28T15:07:18.643Z\",\"value\":\"\"}],\"isPasswordChangeNeeded\":false,\"id\":\"learner\"}],\"totalCount\":5},\"message\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8c6-c79loGhc2FBeEy/4zHTrFcNy+iM\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
