{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd450f19236c57a8dd6a0fe1f1c195fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/refresh-access-token"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 326,
            "text": "{\"success\":true,\"systemToken\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJiaWdpZCIsImlzQWRtaW4iOmZhbHNlLCJyb2xlSWRzIjpbIjVkOTNlODYwNWJjODhlMDAxYWY4MjhjMyIsIjVmOGQ5NDlkNmMyZjRlMDAxM2RiMjU4ZiJdLCJ0eXBlIjoiYWNjZXNzLXRva2VuIiwiaWF0IjoxNjgwMjg5NjUxLCJleHAiOjE2ODA4OTQ0NTF9.ph0Ea2jF48USkljnu3pdd6LR17q42ybW-Mkzrr1EuQc\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"146-GqJdjxy2YcR2aavPMlTuhcdKACg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      },
      {
        "_id": "05831ab044ce2a22b65fbad4a1fbd442",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://sandbox.bigid.tools/api/v1/ds-connections?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 1487,
            "text": "{\"status\":\"success\",\"statusCode\":200,\"data\":{\"ds_connections\":[{\"_id\":\"5ed0cb3a1fc2930013a54519\",\"owners\":[\"model.tester@rockstream.com\"],\"differential\":false,\"password\":\"******\",\"name\":\"Models\",\"credential_id\":\"1\",\"certificate_id\":\"\",\"rdb_is_sample_data\":false,\"numberOfParsingThreads\":\"2\",\"include_file_types\":false,\"awsAuthStrategy\":4,\"isCredentialsAuth\":true,\"dataSourceObjectNamesToExcludeRegex\":\"\",\"smbServer\":\"smb.mybigid.com\",\"sharedResource\":\"Public\\\\models\",\"is_credential\":true,\"updatedPasswords\":[],\"type\":\"smb\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"no\",\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"custom_fields\":[],\"created_at\":\"2021-10-01T19:39:03.289Z\",\"updated_at\":\"2022-12-22T19:04:14.025Z\",\"last_scan_at\":1671638184986,\"owners_v2\":[{\"id\":\"model.tester@rockstream.com\",\"email\":\"model.tester@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T19:15:49.215Z\"},\"connectionStatusDeleteFindings\":{},\"id\":\"Models\",\"Is_sample_files\":\"false\",\"Is_sample_folders\":\"false\",\"classification_is_enabled\":false,\"doc2vec_is_enabled\":false,\"is_encrypt_data\":\"false\",\"is_ocr_enabled\":\"false\",\"is_system_shares\":false,\"multiple_shares_enabled\":false,\"ner_classification_is_enabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2022-12-22T19:04:14.024Z\"},\"tags\":[]}],\"totalCount\":20},\"message\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5cf-DkTc6odkpEId3HNV6PE3DnnJoP8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
