{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf12b00ecb42218f134e6c9db7f52649",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"username\":\"INVALID\",\"password\":\"learner\"}"
          },
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/sessions"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 111,
            "text": "{\"success\":false,\"message\":\"Authentication failed. Username / Password incorrect or insufficient roles in AD.\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6f-eeo599ntxgp1gtrjrLSKEsswBR0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
