{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "05831ab044ce2a22b65fbad4a1fbd442",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://sandbox.bigid.tools/api/v1/ds-connections?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 59,
            "text": "{\"success\":false,\"message\":\"Failed to authenticate token.\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-iVQBwHeWnXIsDdsvzTFQ8Wkrerk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
