{
  "log": {
    "_recordingName": "fetch-datasource",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd450f19236c57a8dd6a0fe1f1c195fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/refresh-access-token"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 362,
            "text": "{\"success\":true,\"systemToken\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJiaWdpZCIsImlzQWRtaW4iOmZhbHNlLCJyb2xlSWRzIjpbIjVkOTNlODYwNWJjODhlMDAxYWY4MjhjMyIsIjVmOGQ5NDlkNmMyZjRlMDAxM2RiMjU4ZiJdLCJ0eXBlIjoiYWNjZXNzLXRva2VuIiwidGVuYW50SWQiOiJTSU5HTEVfVEVOQU5UIiwiaWF0IjoxNjgzODM0Mjg2LCJleHAiOjE2ODQ0MzkwODZ9.HbaaM2FSsYwMUskfrMzFCGY6qiyLexItQActjWfdtWo\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"16a-jxTKKhrF89N0JJFFiiKhQebu/yk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217,
      },
      {
        "_id": "067767cc3d6c9c24253d35c7ea1febed",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "skip",
              "value": "0limit=100"
            },
            {
              "name": "requireTotalCount",
              "value": "true"
            }
          ],
          "url": "https://sandbox.bigid.tools/api/v1/ds_connections?skip=0limit%3D100&requireTotalCount=true"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 36992,
            "text": "{\"ds_connections\":[{\"_id\":\"616f28a11db161001feb7e95\",\"owners\":[\"becky.web@rockstream.com\",\"bigid\"],\"differential\":false,\"numberOfParsingThreads\":\"2\",\"rdb_is_sample_data\":false,\"include_file_types\":false,\"isCredentialsAuth\":false,\"password\":\"******\",\"name\":\"Backups\",\"friendly_name\":\"S3\",\"classification_is_enabled\":true,\"ner_classification_is_enabled\":true,\"doc2vec_is_enabled\":true,\"bucket_name\":\"samba-data\",\"aws_region\":\"us-east-1\",\"isSTSAuth\":false,\"isCrossAccountAuth\":false,\"isIamRoleAuth\":true,\"isAnonymousAuth\":false,\"documentOrDossierName\":null,\"reportName\":null,\"folderName\":null,\"attributeName\":null,\"promptName\":null,\"metricName\":null,\"styleName\":null,\"consolidationName\":null,\"scanWindowName\":\"None\",\"updatedPasswords\":[],\"type\":\"s3\",\"location\":\"India\",\"security_tier\":\"1\",\"ocr_languages\":\"eng\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"credential_id\":\"\",\"certificate_id\":\"\",\"custom_fields\":[],\"owners_v2\":[{\"id\":\"becky.web@rockstream.com\",\"email\":\"becky.web@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\"},{\"id\":\"bigid\",\"email\":null,\"origin\":null,\"type\":\"it\"}],\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T14:56:24.957Z\",\"num_of_object\":0},\"connectionStatusDeleteFindings\":{},\"created_at\":\"2021-10-19T20:20:49.134Z\",\"updated_at\":\"2023-03-27T14:58:41.566Z\",\"last_scan_at\":1679929015055,\"aws_access_key\":\"\",\"aws_role_arn\":\"\",\"aws_role_session_name\":\"\",\"aws_secret_key\":\"\",\"aws_session_token\":\"\",\"is_certificate\":false,\"scan_is_success\":true,\"scan_num_of_objects\":1,\"scan_timestamp\":\"2023-02-24T21:39:06.254Z\",\"test_is_success\":true,\"test_timestamp\":\"2022-10-06T14:56:24.957Z\",\"dsAclScanEnabled\":\"true\",\"enable_acl\":true,\"metadataAclScanEnabled\":\"true\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:58:41.498Z\",\"num_of_object\":1},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf49b\",\"id\":\"Backups\"},{\"_id\":\"5d97673f50b83a001a7acee8\",\"owners\":[\"derrick.bowers@rockstream.com\"],\"differential\":false,\"password\":\"******\",\"name\":\"Profiles\",\"credential_id\":\"1\",\"rdb_is_sample_data\":false,\"mongo_url\":\"mongo.mybigid.com\",\"mongo_db_name\":\"rockstream\",\"enrichment_is_enabled\":true,\"classification_is_enabled\":true,\"authentication_db\":\"admin\",\"username\":\"bigid\",\"is_credential\":true,\"mongo_collection_name\":\"\",\"updatedPasswords\":[],\"type\":\"mongodb\",\"location\":\"New Zealand\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"is_idsor_supported\":true,\"custom_fields\":[],\"test_is_success\":true,\"test_timestamp\":\"2020-01-21T13:13:17.159Z\",\"last_scan_at\":1679929015047,\"is_certificate\":false,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"owners_v2\":[{\"id\":\"derrick.bowers@rockstream.com\",\"email\":\"derrick.bowers@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T19:02:16.390Z\",\"num_of_object\":0},\"connectionStatusDeleteFindings\":{},\"updated_at\":\"2023-03-27T14:58:16.013Z\",\"structured_clustering_enabled\":true,\"id\":\"Profiles\",\"created_at\":\"2021-10-01T19:39:03.290Z\",\"scanner_group\":\"default\",\"stop_on_failure\":false,\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:58:15.111Z\",\"num_of_object\":1},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf482\"},{\"_id\":\"5d93f938d24330957630f091\",\"owners\":[\"mike.stills@rockstream.com\"],\"differential\":false,\"password\":\"******\",\"name\":\"Share\",\"credential_id\":\"1\",\"numberOfParsingThreads\":\"2\",\"rdb_is_sample_data\":false,\"smbServer\":\"smb.mybigid.com\",\"is_credential\":true,\"sharedResource\":\"Public\\\\share\",\"updatedPasswords\":[],\"type\":\"smb\",\"location\":\"Brazil\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"custom_fields\":[],\"last_scan_at\":1679929015028,\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T15:36:31.605Z\",\"num_of_object\":0},\"scan_is_success\":true,\"scan_timestamp\":\"2021-01-12T23:54:32.280Z\",\"scan_num_of_objects\":1,\"test_is_success\":true,\"test_timestamp\":\"2020-04-24T19:12:06.668Z\",\"username\":\"bigid\",\"classification_is_enabled\":true,\"ner_classification_is_enabled\":true,\"is_certificate\":false,\"doc2vec_is_enabled\":true,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"is_ocr_enabled\":\"true\",\"include_file_types\":false,\"friendly_name\":\"FileShare\",\"documentOrDossierName\":null,\"reportName\":null,\"folderName\":null,\"attributeName\":null,\"promptName\":null,\"metricName\":null,\"styleName\":null,\"consolidationName\":null,\"updated_at\":\"2023-03-27T14:58:12.082Z\",\"owners_v2\":[{\"id\":\"ellen.becker@rockstream.com\",\"origin\":\"local\",\"email\":null,\"type\":\"business\",\"isNotified\":true},{\"id\":\"bigid\",\"type\":\"business\",\"isNotified\":false},{\"id\":\"learner\",\"origin\":\"local\",\"email\":\"\",\"type\":\"business\",\"isNotified\":true},{\"origin\":\"legacy\",\"id\":\"mike.stills@rockstream.com\",\"email\":\"mike.stills@rockstream.com\",\"type\":\"it\",\"isNotified\":true},{\"id\":\"bigid\",\"type\":\"it\",\"isNotified\":false}],\"connectionStatusDeleteFindings\":{},\"ocr_languages\":\"eng\",\"Is_sample_folders\":\"false\",\"Is_sample_files\":\"false\",\"scanWindowName\":\"\",\"id\":\"Share\",\"created_at\":\"2021-10-01T19:39:03.290Z\",\"is_encrypt_data\":\"false\",\"is_system_shares\":false,\"multiple_shares_enabled\":false,\"scanner_group\":\"default\",\"tags\":[],\"dsAclScanEnabled\":\"true\",\"metadataAclScanEnabled\":\"true\",\"defaultScanId\":\"633ef6ca925bd0b1f33de3a1\",\"defaultScanProfileId\":\"633ef6ca925bd0b1f33de367\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:58:12.014Z\",\"num_of_object\":1},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf453\"},{\"_id\":\"5f179f642acc710013022f71\",\"owners\":[],\"differential\":false,\"password\":\"******\",\"name\":\"UsersAP\",\"rdb_url\":\"sql.mybigid.com\",\"rdb_name\":\"rockstream\",\"rdb_comma_sep_table_list\":\"UsersAP\",\"classification_is_enabled\":true,\"enrichment_is_enabled\":true,\"updatedPasswords\":[],\"type\":\"rdb-mysql\",\"location\":\"Indonesia\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"is_idsor_supported\":true,\"credential_id\":\"1\",\"custom_fields\":[{\"field_name\":\"columnProfilingEnabled\",\"field_type\":\"clear\",\"field_value\":\"true\"}],\"is_credential\":true,\"test_is_success\":true,\"test_timestamp\":\"2020-07-23T12:17:15.776Z\",\"scan_is_success\":true,\"scan_timestamp\":\"2021-02-15T01:52:18.894Z\",\"scan_num_of_objects\":1,\"username\":\"bigid\",\"is_certificate\":false,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"rdb_conn_properties\":\"\",\"updated_at\":\"2023-03-27T14:58:07.985Z\",\"id\":\"UsersAP\",\"created_at\":\"2021-10-01T19:39:03.291Z\",\"last_scan_at\":1679929015049,\"friendly_name\":\"AP Users\",\"documentOrDossierName\":null,\"reportName\":null,\"folderName\":null,\"attributeName\":null,\"promptName\":null,\"metricName\":null,\"styleName\":null,\"consolidationName\":null,\"ocr_languages\":\"eng\",\"owners_v2\":[{\"id\":\"bigid\",\"type\":\"business\",\"isNotified\":null},{\"id\":\"frank.smith@rockstream.com\",\"email\":\"frank.smith@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"rdb_is_sample_data\":false,\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-12-31T03:08:03.738Z\",\"num_of_object\":0},\"connectionStatusDeleteFindings\":{},\"structured_clustering_enabled\":true,\"ner_classification_is_enabled\":false,\"rdb_is_only_user_objects\":false,\"rdb_is_scan_views\":false,\"rdb_sample_type\":\"size\",\"row_identifier_expression_is_disabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"stop_on_failure\":false,\"tags\":[],\"authStrategy\":\"credentials\",\"numberOfParsingThreads\":\"5\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:58:07.820Z\",\"num_of_object\":1},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf48c\"},{\"_id\":\"5d93f938d24330957630f09b\",\"owners\":[],\"differential\":false,\"password\":\"******\",\"name\":\"AdsHistory\",\"rdb_url\":\"sql.mybigid.com\",\"rdb_name\":\"rockstream\",\"rdb_comma_sep_table_list\":\"AdsHistory\",\"classification_is_enabled\":false,\"enrichment_is_enabled\":false,\"updatedPasswords\":[],\"type\":\"rdb-mysql\",\"location\":\"Australia\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"is_idsor_supported\":true,\"credential_id\":\"1\",\"custom_fields\":[],\"is_credential\":true,\"test_is_success\":true,\"test_timestamp\":\"2019-09-26T21:14:06.585Z\",\"username\":\"bigid\",\"last_scan_at\":1679929015041,\"scan_is_success\":true,\"scan_timestamp\":\"2019-09-30T23:01:40.157Z\",\"scan_num_of_objects\":1,\"is_certificate\":false,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"owners_v2\":[{\"id\":\"brandy.walsh@rockstream.com\",\"email\":\"brandy.walsh@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"rdb_is_sample_data\":false,\"updated_at\":\"2023-03-27T14:58:02.524Z\",\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T19:05:47.053Z\",\"num_of_object\":0},\"connectionStatusDeleteFindings\":{},\"archived\":false,\"structured_clustering_enabled\":true,\"id\":\"AdsHistory\",\"created_at\":\"2021-10-01T19:39:03.291Z\",\"authStrategy\":\"credentials\",\"ner_classification_is_enabled\":false,\"numberOfParsingThreads\":\"5\",\"rdb_is_only_user_objects\":false,\"rdb_is_scan_views\":false,\"rdb_sample_type\":\"size\",\"row_identifier_expression_is_disabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"stop_on_failure\":false,\"tags\":[],\"connectionStatusScan\":{\"is_success\":true,\"last_[...]
