{
  "log": {
    "_recordingName": "fetch-datasource",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf12b00ecb42218f134e6c9db7f52649",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"username\":\"bigid\",\"password\":\"learner\"}"
          },
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/sessions"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 15808,
            "text": "{\"success\":true,\"message\":\"Enjoy your token!\",\"auth_token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJiaWdpZCIsInR5cGUiOiJhY2Nlc3MtdG9rZW4iLCJyb2xlSWRzIjpbIjVkOTNlODYwNWJjODhlMDAxYWY4MjhjMyIsIjVmOGQ5NDlkNmMyZjRlMDAxM2RiMjU4ZiJdLCJpc0FkbWluIjp0cnVlLCJpYXQiOjE2Nzg0NjE3NzksImV4cCI6MTY3ODU0ODE3OX0.ngaLKeFC5KLSGrZQJ2d-9RjEIC0Ks-GFHQiWs8kvKYQ\",\"username\":\"bigid\",\"firstName\":\"BigID Admin\",\"permissions\":[\"admin\",\"permission.tasks.edit\",\"permission.reviewFindings.access\",\"permission.reviewFindings.read\",\"permission.reviewFindings.edit\",\"permission.tasks.read_task_list\",\"permission.dashboard.access\",\"permission.inventory.access\",\"permission.inventory.read\",\"permission.inventory.export_objects\",\"permission.inventory.export_attributes\",\"permission.inventory.investigate_attributes\",\"permission.inventory.export_entities\",\"permission.inventory.read_entities\",\"permission.co[...]
