{
  "log": {
    "_recordingName": "fetch-datasource-tags",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://sandbox.bigid.tools/api/v1/refresh-access-token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"success\":true,\"systemToken\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://sandbox.bigid.tools/api/v1/data-catalog/tags/all-pairs-ds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 246,
            "text": "[{\"tagId\":\"ba7a5426-64d6-47eb-995b-8fd8e1224de0\",\"valueId\":\"ba7a5426-64d6-47eb-995b-8fd8e1224de1\",\"isMutuallyExclusive\":\"true\",\"properties\":{\"hidden\":false,\"applicationType\":\"sensitivityClassification\"},\"tagName\":\"sensitivity\",\"tagValue\":\"high\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
