{
  "log": {
    "_recordingName": "fetch-findings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd450f19236c57a8dd6a0fe1f1c195fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sandbox.bigid.tools/api/v1/refresh-access-token"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 362,
            "text": "{\"success\":true,\"systemToken\":\"[REDACTED]\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"16a-GlqYeEafUQEXx0aDk/yjtP2qk7g\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      },
      {
        "_id": "3d80f2c1d675459f833b29148b28285e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "skip",
              "value": "0limit=100"
            },
            {
              "name": "requireTotalCount",
              "value": "true"
            }
          ],
          "url": "https://sandbox.bigid.tools/api/v1/ds-connections?skip=0limit%3D100&requireTotalCount=true"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 36454,
            "text": "{\"status\":\"success\",\"statusCode\":200,\"data\":{\"ds_connections\":[{\"_id\":\"5ed0cb3a1fc2930013a54519\",\"owners\":[\"model.tester@rockstream.com\"],\"differential\":false,\"password\":\"******\",\"name\":\"Models\",\"credential_id\":\"1\",\"certificate_id\":\"\",\"rdb_is_sample_data\":false,\"numberOfParsingThreads\":\"2\",\"include_file_types\":false,\"awsAuthStrategy\":4,\"isCredentialsAuth\":true,\"dataSourceObjectNamesToExcludeRegex\":\"\",\"smbServer\":\"smb.mybigid.com\",\"sharedResource\":\"Public\\\\models\",\"is_credential\":true,\"updatedPasswords\":[],\"type\":\"smb\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"no\",\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"custom_fields\":[],\"created_at\":\"2021-10-01T19:39:03.289Z\",\"updated_at\":\"2022-12-22T19:04:14.025Z\",\"last_scan_at\":1671638184986,\"owners_v2\":[{\"id\":\"model.tester@rockstream.com\",\"email\":\"model.tester@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T19:15:49.215Z\"},\"connectionStatusDeleteFindings\":{},\"id\":\"Models\",\"Is_sample_files\":\"false\",\"Is_sample_folders\":\"false\",\"classification_is_enabled\":false,\"doc2vec_is_enabled\":false,\"is_encrypt_data\":\"false\",\"is_ocr_enabled\":\"false\",\"is_system_shares\":false,\"multiple_shares_enabled\":false,\"ner_classification_is_enabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2022-12-22T19:04:14.024Z\"},\"tags\":[]},{\"_id\":\"63b03a65d0246d288019f0e3\",\"name\":\"breach-investigation-Stolen Data\",\"enabled\":\"no\",\"password\":\"******\",\"security_tier\":\"1\",\"sharedResource\":\"Public\\\\share\\\\stolendata.csv\",\"smbServer\":\"smb.mybigid.com\",\"type\":\"smb\",\"updated_at\":\"2022-12-31T13:34:58.504Z\",\"username\":\"bigid\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2022-12-31T13:34:58.503Z\"},\"id\":\"breach-investigation-Stolen Data\",\"tags\":[]},{\"_id\":\"63a4d008a91e250012a72ed2\",\"owners\":[],\"differential\":false,\"rdb_is_sample_data\":false,\"password\":\"******\",\"name\":\"SalesForce\",\"friendly_name\":\"Salesforce Training connector\",\"is_salesforce_custom_url\":true,\"salesforce_custom_url\":\"https://bigid--TrainingOr.my.salesforce.com\",\"classification_is_enabled\":true,\"documentOrDossierName\":null,\"reportName\":null,\"folderName\":null,\"attributeName\":null,\"promptName\":null,\"metricName\":null,\"styleName\":null,\"consolidationName\":null,\"updatedPasswords\":[],\"type\":\"salesforce\",\"location\":\"Massachusetts\",\"security_tier\":\"1\",\"ocr_languages\":\"eng\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"no\",\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"is_idsor_supported\":true,\"credential_id\":\"\",\"certificate_id\":\"\",\"custom_fields\":[],\"isOauthConfigured\":false,\"owners_v2\":[],\"created_at\":\"2022-12-22T21:45:44.307Z\",\"updated_at\":\"2023-02-16T02:08:21.036Z\",\"is_certificate\":false,\"numberOfParsingThreads\":\"5\",\"connectionStatusDeleteFindings\":{\"is_success\":true,\"last_connection\":\"2022-12-22T22:02:57.160Z\"},\"deletion_is_success\":true,\"deletion_timestamp\":\"2022-12-22T22:02:57.160Z\",\"id\":\"SalesForce\",\"tags\":[]},{\"_id\":\"5d93f938d24330957630f09a\",\"owners\":[],\"differential\":false,\"password\":\"******\",\"name\":\"Ads\",\"rdb_url\":\"sql.mybigid.com\",\"rdb_name\":\"rockstream\",\"rdb_comma_sep_table_list\":\"Ads\",\"classification_is_enabled\":true,\"enrichment_is_enabled\":false,\"updatedPasswords\":[],\"type\":\"rdb-mysql\",\"location\":\"United Kingdom\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"is_idsor_supported\":true,\"credential_id\":\"1\",\"custom_fields\":[],\"is_credential\":true,\"test_is_success\":true,\"test_timestamp\":\"2019-09-26T21:14:06.585Z\",\"username\":\"bigid\",\"last_scan_at\":1679929015039,\"scan_is_success\":true,\"scan_timestamp\":\"2019-09-30T23:01:40.145Z\",\"scan_num_of_objects\":1,\"is_certificate\":false,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"owners_v2\":[{\"id\":\"eva.singh@rockstream.com\",\"email\":\"eva.singh@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"rdb_is_sample_data\":false,\"updated_at\":\"2023-03-27T14:57:06.329Z\",\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-10-06T19:06:37.296Z\"},\"connectionStatusDeleteFindings\":{},\"archived\":false,\"structured_clustering_enabled\":true,\"id\":\"Ads\",\"created_at\":\"2021-10-01T19:39:03.292Z\",\"authStrategy\":\"credentials\",\"ner_classification_is_enabled\":false,\"numberOfParsingThreads\":\"5\",\"rdb_is_only_user_objects\":false,\"rdb_is_scan_views\":false,\"rdb_sample_type\":\"size\",\"row_identifier_expression_is_disabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"stop_on_failure\":false,\"tags\":[],\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:57:06.185Z\"},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf46f\"},{\"_id\":\"5d93f938d24330957630f08f\",\"owners\":[],\"differential\":false,\"password\":\"******\",\"name\":\"UsersUS\",\"rdb_url\":\"sql.mybigid.com\",\"rdb_name\":\"rockstream\",\"rdb_comma_sep_table_list\":\"UsersUS, FamiliesUS\",\"classification_is_enabled\":true,\"enrichment_is_enabled\":true,\"updatedPasswords\":[],\"type\":\"rdb-mysql\",\"location\":\"New York\",\"security_tier\":\"1\",\"scanner_strategy\":\"SCAN_ALL\",\"enabled\":\"yes\",\"is_idsor_supported\":true,\"credential_id\":\"1\",\"custom_fields\":[{\"field_name\":\"columnProfilingEnabled\",\"field_type\":\"clear\",\"field_value\":\"true\"}],\"is_credential\":true,\"test_is_success\":true,\"test_timestamp\":\"2021-02-03T17:16:29.874Z\",\"last_scan_at\":1679929015026,\"connectionStatusTest\":{\"is_success\":true,\"last_connection\":\"2022-12-18T17:51:22.288Z\"},\"scan_is_success\":true,\"scan_timestamp\":\"2021-02-15T01:52:23.965Z\",\"scan_num_of_objects\":1,\"username\":\"bigid\",\"is_certificate\":false,\"keyDeserializer\":\"String\",\"valueDeserializer\":\"String\",\"certificate_id\":\"\",\"rdb_conn_properties\":\"\",\"updated_at\":\"2023-03-27T14:57:12.947Z\",\"comment\":\"This data source consists of two tables representing the users and families in the US\",\"documentOrDossierName\":null,\"reportName\":null,\"folderName\":null,\"attributeName\":null,\"promptName\":null,\"metricName\":null,\"styleName\":null,\"consolidationName\":null,\"ocr_languages\":\"eng\",\"friendly_name\":\"US Users\",\"owners_v2\":[{\"id\":\"bigid\",\"type\":\"business\",\"isNotified\":null},{\"id\":\"frank.smith@rockstream.com\",\"email\":\"frank.smith@rockstream.com\",\"origin\":\"legacy\",\"type\":\"it\",\"isNotified\":true}],\"rdb_is_sample_data\":false,\"connectionStatusDeleteFindings\":{},\"structured_clustering_enabled\":true,\"id\":\"UsersUS\",\"created_at\":\"2021-10-01T19:39:03.288Z\",\"rdb_is_only_user_objects\":false,\"rdb_is_scan_views\":false,\"row_identifier_expression_is_disabled\":false,\"scanWindowName\":[],\"scanner_group\":\"default\",\"stop_on_failure\":false,\"ner_classification_is_enabled\":true,\"rdb_sample_type\":\"size\",\"tags\":[],\"authStrategy\":\"credentials\",\"numberOfParsingThreads\":\"5\",\"defaultScanId\":\"639f6ee7367a3ecf83777fe7\",\"defaultScanProfileId\":\"639f6ee7367a3ecf83777fab\",\"connectionStatusScan\":{\"is_success\":true,\"last_connection\":\"2023-03-27T14:57:12.683Z\"},\"last_sub_scan_id\":\"6421aeb6318bb17b367bf44a\"},{\"_id\":\"5d93f938d24330957630f09c\",\"owners\":[],\"differential\":false,\"password\":\"******\",\"name\":\"Employees\",\"rdb_url\":\"sql.mybigid.com\",\"rdb_name\":\"rockstream\",\"rdb_comma_sep_table_list\":\"Employees\",\"classification_is_enabled\":true,\"enrichment_is_enabled\":false,\"updatedPasswords\":[],\"type\"[...]
